.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    margin-top: 60px;
    margin-left: 360px;
    margin-right: 360px;
    /* width: 60%; */
    height: 20%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 1px 18px rgb(72, 217, 236);

  }

  .meds_form {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }

  .errorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: auto;
  }

  .error {
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .inputRow {
  }

  .med_data_inputs {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    min-width: 300px;
    max-width: 300px;
    color: black;
    outline: none;
    background-color: white;
    padding: 10px;
    border-bottom:1px solid black;
    transition: border-bottom 0.3s;
  }
  .med_data_inputs:focus {
    border-bottom: 1px solid black;
    transition: border-bottom 0.3s;

  }

 .med_data_inputs::placeholder {
    color: white;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
  }

    .med_data_inputs:-webkit-autofill,
    .med_data_inputs:-webkit-autofill:hover,
    .med_data_inputs:-webkit-autofill:focus,
    .med_data_inputs:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .inputField:-webkit-autofill {
    -webkit-text-fill-color: black !important;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
  }



  .dash_med_button {
    background-color: rgba(43, 228, 228, 0.5);
    border: none;
    border-radius: 15px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.dash_med_button:hover {
  transition: background-color 0.7s;
  background-color: rgba(71, 255, 86, 0.603);
  border-radius: 15px;
  font-weight: 700;
}
