.footer {
    display: flex;
    justify-content: space-around;
    height: 35px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    background-color: rgb(6, 241, 210);
    /* background-color: aquamarine; */
    color: #f2f2f2;
    /* box-shadow: -2px -2px 15px #BFAF8F, 2px -2px 15px #BFAF8F; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    box-shadow: 0px -3px 18px rgb(6, 241, 210);
}

.footer-text{
    margin-left: 20px;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    /* font-weight: 900; */
}

.footer-element, .footerIcon {
    color: black;
    text-decoration: none;
    margin-left: 80px;
}
