#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  animation: loadIn 0.3s;
}
.newMedModal {
  /* position: relative !important; */
  z-index: 2;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(31, 42, 36, 0.28);
}

#modal-content {
  display: flex;
  position: relative;
  width: min-content;
  max-width: calc(100vw - 48px);
}

@keyframes loadIn {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
