.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
  position: absolute;
  padding: 20px 20px;
  border: none;
  width: 270px;
  /* margin-top: 20px; */
  border-radius: 40px;
  background-color: rgb(194, 45, 231);
  transition: background-color 0.3s, transform 0.3s;
}

.buttonText {
  display: block;
  color: white;
  position: relative;
  pointer-events: none;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
}

.button:hover {
  background-color: rgb(230, 177, 31);
  transform: scale(1.07, 1.05);
  transition: background-color 0.3s, transform 0.5s;
  /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */

}
