.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin-top: 10%;
  margin-left: 560px;
  margin-right: 560px;
  min-width: fit-content;
  /* width: 60%; */
  height: 20%;
  border-radius: 15px;
  /* background-color: lightslategray; */
  /* box-shadow: 0px 1px 18px rgb(6, 241, 210); */
  box-shadow: 0px 1px 18px rgb(89, 92, 91);


}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.errorsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
}

.error {
  color: pink;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputRow {
}

.inputField {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  min-width: 300px;
  max-width: 300px;
  color: black;
  outline: none;
  background-color: white;
  padding: 10px;
  border-bottom:1px solid black;
  transition: border-bottom 0.3s;
}
.inputField:focus {
  border-bottom: 1px solid black;
  transition: border-bottom 0.3s;

}

.inputField::placeholder {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.inputField:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}
