.linkDiv {
    display: flex;
  }

.logoDiv {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'El Messiri', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 60px;
  }

  .logoutButton {
    background-color: rgba(235, 52, 226, 0.582);
    border: none;
    border-radius: 18px;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    height: 35px;
    font-weight: 900;
    padding-left: 8px;
  }

  .logoutButton:hover {
    transition: background-color 0.7s;
    box-shadow: 0px 1px 5px rgba(14, 13, 13, 0.486);
    font-weight: 700;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    border-bottom: black 1px solid;
    box-shadow: 0px 5px 15px rgba(14, 13, 13, 0.486);
    /* background-color: #f7c39e; */
  }

  .nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    height: 45px;
    margin-top: 20px;
    margin-right: 25px;
  }

  a {
    font-size: 24px;
    margin-right: 18px;
    padding-left: 8px;
    /* border-left: black 1px solid; */
    /* text-decoration: underline; */
  }

a:hover {
    font-size: 25px;
    margin-right: 18px;
    text-decoration: underline;
    font-weight: 900;
}
