.linkDiv {
    display: flex;
  }

.logoDiv {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  }

  .logoutButton {
    background-color: rgba(52, 232, 235, 0.582);
    border: none;
    border-radius: 18px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 900;
  }

  .logoutButton:hover {
    transition: background-color 0.7s;
    /* background-color: rgba(241, 168, 32, 0.603); */
   /* background-color: rgba(235, 52, 143, 0.703); */
   box-shadow: 0px 1px 15px rgba(14, 13, 13, 0.486);

   font-weight: 700;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    /* background-color: #f7c39e; */
  }

  .nav_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
    height: 35px;
    margin-top: 20px;
    margin-right: 15px;
  }

  a {
    font-size: 18px;
    margin-right: 18px;
    text-decoration: underline;
  }

a:hover {
    font-size: 18px;
    margin-right: 18px;
    text-decoration: underline;
    font-weight: 900;
}
